@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Mobile */

/* Navbar */
.navbar-brand {
	font-family: poppins;
	font-size: 16px;
	color: #f9f5eb !important;
}

.navbar {
	position: relative;
	z-index: 999;
}

.nav-link {
	font-family: poppins;
	font-size: 16px;
	color: #1c3879 !important;
}

/* Home */

.jumbotron {
	background-image: url(../src//image/hero.jpg);
	background-size: cover;
	background-position: center;
	height: max-content;
	margin-top: -80px;
}

.jumbotron .display-5 {
	text-align: center;
	margin-top: 40px;
	font-family: poppins;
	font-size: 2rem;
	margin-bottom: 22px;
}

.search {
	background-color: #f9f5eb;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	vertical-align: middle;
	padding: 7px;
	text-align: center;
	font-family: poppins;
	font-size: 8px;
	color: #d9d9d9;
	margin-bottom: 23px;
	width: 100%;
}

.bg-icon {
	background-color: #1c3879;
	box-shadow: 0px 1px 30px #f9f5eb;
	width: 50px;
	height: 50px;
	padding: 5px;
	position: relative;
}

.figure-caption {
	margin-top: 10px;
	/* background-color: #1c3879; */
	color: #1c3879 !important;
	border-radius: 16px;
	font-family: poppins;
	font-weight: 600;
	font-size: smaller;
}

.info-panel {
	background-color: #eae3d2;
	margin-top: -40px;
	font-family: poppins;
	font-weight: 600;
	font-size: smaller;
	color: #1c3879;
	height: max-content;
	padding-top: 30px;
}

/* Desain Rumah */

.desain-rumah .title {
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: poppins;
	font-weight: 600;
	font-size: larger;
	color: #1c3879;
}

/* Mengapa Andara */
.bg {
	background-color: #eae3d2;
}
.kotak {
	background-color: #1c3879;
}

.mengapa-andara .title {
	margin-top: 40px;
	font-family: poppins;
	font-weight: 600;
	font-size: larger;
	color: #f9f5eb;
}

.daftar {
	font-family: poppins;
	font-weight: 600;
	font-size: smaller;
	color: #f9f5eb;
}

/* 4 langkah */

.langkah .title {
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: poppins;
	font-weight: 600;
	font-size: larger;
	color: #1c3879;
}

.langkah .caption {
	color: #1c3879;
}

/* Benefits */
.container .benefits {
	background-color: #eae3d2 !important;
	height: max-content;
}
.card {
	background-color: #eae3d2 !important;
}

.title-benefits {
	background-color: #1c3879 !important;
	font-family: poppins;
	font-weight: 600;
	font-size: larger;
	color: #eae3d2 !important;
	height: max-content;
	margin-bottom: 40px;
}

.benefits .isi {
	font-family: poppins;
	font-weight: 600;
	font-size: small;
	color: #1c3879;
	padding: 0 10px;
}

/* Testimoni */
.bg-testimoni {
	background-color: #1c3879;
	width: 100%;
}
.title-testimoni {
	font-family: poppins;
	font-weight: 600;
	font-size: larger;
	color: #eae3d2;
	height: max-content;
}

.testimoni .figure-caption {
	font-family: poppins;
	font-weight: 600;
	font-size: smaller;
	color: #eae3d2;
}

.testimoni .figure {
	margin-left: 2px;
	margin-right: 2px;
}

/* FAQ */

.bg-FAQ {
	background-color: #f9f5eb;
}

.title-FAQ {
	font-family: poppins;
	font-weight: 600;
	font-size: larger;
	color: #1c3879;
}

.FAQ .daftar {
	background-color: #1c3879;
}

/* CTA */

.bg-CTA {
	background-color: #eae3d2;
}

.title-CTA {
	font-family: poppins;
	font-weight: 600;
	font-size: medium;
	color: #1c3879;
}

.CTA .tombol {
	background-color: #1c3879;
	font-family: poppins;
	font-weight: 600;
	font-size: medium;
	color: #eae3d2;
	padding: 5px;
	width: 8rem;
}

/* Footer */
.bg-footer {
	background-color: #1c3879;
}

.footer .isi {
	font-family: poppins;
	font-size: smaller;
	color: #eae3d2;
}

.foot {
	font-family: poppins;
	font-size: x-small;
	font-weight: 600;
	color: #1c3879;
}
/* Desktop */
@media (min-width: 992px) {
	/* Navbar */

	.nav-link {
		font-family: poppins;
		font-size: 16px;
		color: #f9f5eb !important;
	}

	/* Home */

	.jumbotron {
		background-image: url(../src//image/hero.jpg);
		background-size: cover;
		height: 780px;
		margin-top: -121px;
		position: relative;
	}

	.jumbotron .display-5 {
		text-align: center;
		margin-top: 148px;
	}

	.search {
		background-color: #f9f5eb;
		box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
		border-radius: 25px;
		text-align: center;
		height: 1%;
		font-family: poppins;
		font-size: 1rem;
		color: #d9d9d9;
		margin-bottom: 23px;
		width: 75%;
	}

	.bg-icon {
		background-color: #1c3879;
		box-shadow: 0px 1px 30px #f9f5eb;
		width: 100px;
		height: 100px;
		padding: 5px;
		position: relative;
	}

	.figure-caption {
		margin-top: 10px;
		background-color: #1c3879;
		color: #f9f5eb !important;
		border-radius: 16px;
		font-family: poppins;
		font-weight: 600;
		font-size: x-small;
	}

	.info-panel {
		background-color: #eae3d2;
		margin-top: -40px;
		font-family: poppins;
		font-weight: 600;
		font-size: smaller;
		color: #1c3879;
		height: max-content;
		padding-top: 50px;
	}

	/* Desain Rumah */

	.desain-rumah .title {
		font-weight: 600;
		font-size: xx-large;
	}

	/* Mengapa Andara */
	.mengapa-andara .title {
		font-weight: 600;
		font-size: xx-large;
	}
	/* 4 langkah */

	.langkah .title {
		font-weight: 600;
		font-size: xx-large;
	}

	.langkah .caption {
		color: #1c3879;
	}

	/* Benefits */

	.title-benefits {
		font-weight: 600;
		font-size: xx-large;
	}

	/* Testi */
	.title-testimoni {
		font-weight: 600;
		font-size: xx-large;
	}

	/* FAQ */
	.title-FAQ {
		font-weight: 600;
		font-size: xx-large;
	}

	.foot {
		font-size: smaller;
	}
}
